.prof_content {
    padding-left: 50px;
}

a {
    color:red;
    text-decoration: none !important;
}

#bottom-edit-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
}

#link-override {
    color:red;
}

#links-edit-header {
    text-align: center;
}