#root {
    height: 100%;
}
#override {
    font-family: 'Roboto';
    font-size: 15px;
    margin:0;
    padding:0;
    height:100%;
    border:none
}

#ul-override {
    border-radius: 0px;
}

#ul-override a {
    text-decoration: none;
}

#ul-green-left-border {
    border-left: solid 2px green;
}

html,body{
    margin:0;
    padding:0;
    height:100%;
    border:none
 }

body {
    font-family: 'Roboto';
    font-size: 15px;
    color: darkslategrey;
}

#page_content {
    margin-left: 10px;
    width:100%;
}

a {
    text-decoration: none;
}